.label {
  -fx-font-size: 14.0px;
  -fx-text-fill: #008080;
}

.text-box {
  -fx-font-size: 14.0px;
  -fx-text-fill: #008080;
}

.hbox {
  -fx-alignment: center;
  -fx-border-insets: 5.0px;
  -fx-border-color: black;
  -fx-border-width: 1.0px;
  -fx-padding: 10.0px;
}

.vbox {
  -fx-alignment: center;
  -fx-border-insets: 5.0px;
  -fx-border-color: black;
  -fx-border-width: 1.0px;
  -fx-padding: 10.0px;
}

.button {
  -fx-font-size: 14.0px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
}

.menu .label {
  -fx-font-size: 12.0px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
}

#file-browser {
  -fx-graphic: url("resources/search.png");
  -fx-padding: 5px;
}

#file-name {
  -fx-min-width: 300;
  -fx-pref-width: 300;
  -fx-max-width: 1000;
}